<dx-popup [width]="1100" [height]="700" [dragEnabled]="false" [closeOnOutsideClick]="false" [showCloseButton]="false"
    container=".dx-viewport" [(visible)]="popupVisible" [showTitle]="true"
    title="Карточка подстанции Метроскоп - ПС 10 кВ ЗКРП №3">
    <!---->
    <div class="dx-field">

        <ul class="nrj-tabbar">
            <li [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{ exact: false }" routerLink="summary">
                Сводная</li>
            <li [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{ exact: true }" routerLink="trs">ТР / ТСН
            </li>
            <li [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{ exact: true }" routerLink="reactors">
                Реакторы</li>
            <li [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{ exact: true }" routerLink="meters">
                Приборы учета</li>
        </ul>
        <router-outlet></router-outlet>
    </div>
    <dxi-toolbar-item toolbar="bottom" location="before">
        <button class="button button-ghost" (click)="closeInfo()">Закрыть</button>
    </dxi-toolbar-item>
    <!--<dxi-toolbar-item toolbar="bottom" location="before">
        <div class="modal-footer" style="width: 100%;">
            <footer>
                <button class="button button-ghost" (click)="closeInfo()">Закрыть</button>
            </footer>
        </div>
    </dxi-toolbar-item>-->
</dx-popup>