<h4>Приборы учета СПО "Метроскоп". Подстанция ПС 10 кВ ЗКРП №3</h4>
<dx-data-grid id="table" [wordWrapEnabled]="true" [showBorders]="true" >
    <dxi-column caption = "Прибор учета" alignment="center">
        <dxi-column caption = "СПО Метроскоп"></dxi-column>
        <dxi-column caption = "АИС ОИА ПЭО"></dxi-column>
    </dxi-column>
    <dxi-column caption = "Связь" alignment="center"></dxi-column>
    <dxi-column caption = "Модель" alignment="center"></dxi-column>
    <dxi-column caption = "Дата начала эксплуатации" alignment="center"></dxi-column>
    <dxi-column caption = "Дата окончания эксплуатации" alignment="center"></dxi-column>
    <dxi-column caption = "Серийный номер" alignment="center"></dxi-column>
</dx-data-grid>
<h4>Отсутствует связь с подстанцией из АИС ОИА ПЭО</h4>