<h4>Общие сведения</h4>
<dl>
    <dt>Подстанция в СПО «Метроскоп»</dt>
    <dd><span>
            МЭС Юга → Северо-Кавказское ПМЭС → ПС 10 кВ ЗКРП №3</span></dd>
    <dt>Подстанция в АИС ОИА ПЭО</dt>
    <dd></dd>
</dl>
<label class="switch" style="width: 300px;">
    Учавствует в информационном обмене
    <input type="checkbox" class="ng-untouched ng-pristine ng-valid">
    <span class="slider"></span>
</label>
<dx-button stylingMode="outlined" text="Связать" type="default"></dx-button>

<h4>Оборудование подстанции</h4>
<dx-data-grid id="table" [wordWrapEnabled]="true" [showBorders]="true" [dataSource]="dataSummaryItems" [remoteOperations]="true">
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxi-column dataField="arrayData" caption="Массив данных" [width]="90" alignment="center" class="verticalCell"></dxi-column>
    <dxi-column dataField="status" caption="Статус" [width]="110" alignment="center" cssClass="info nrj-badge"></dxi-column>
    <dxi-column caption="СПО Метроскоп" alignment="center">
        <dxi-column dataField="amount1" caption="Количество" alignment="center"></dxi-column>
        <dxi-column dataField="disabled1" caption="Исключено из обмена" alignment="center"></dxi-column>
        <dxi-column dataField="link1" caption="Cвязать объекты с АИС ОИА ПЭО" alignment="center"></dxi-column>
    </dxi-column>
    <dxi-column caption="АИС ОИА ПЭО" alignment="center">
        <dxi-column dataField="amount2" caption="Количество" alignment="center"></dxi-column>
        <dxi-column dataField="disabled2" caption="Исключено из обмена" alignment="center"></dxi-column>
        <dxi-column dataField="link2" caption="Cвязать объекты с СПО Метроскоп" alignment="center"></dxi-column>
    </dxi-column>
    <dxi-column dataField="isLinked" caption="Связано" [width]="70" alignment="center"></dxi-column>
</dx-data-grid>