<dx-data-grid id="tableContainer" [dataSource]="dataItems" keyExpr="ID" 
    columnResizingMode="widget" [allowColumnResizing] = "true">

    <dxi-column caption="Подстанции" alignment="center">
        <dxi-column caption="СПО Метроскоп" dataField="name" dataType="string" cellTemplate="linkTemplate" [width]="300">
        </dxi-column>
        <dxi-column caption="АИС ОИА ПЭО" dataField="field1" dataType="string"></dxi-column>
    </dxi-column>
    <dxi-column caption="МЭС" alignment="center">
        <dxi-column caption="СПО Метроскоп" dataField="field2" dataType="string"></dxi-column>
        <dxi-column caption="АИС ОИА ПЭО" dataField="field3" dataType="string"></dxi-column>
    </dxi-column>

    <dxi-column caption="ПМЭС" alignment="center">
        <dxi-column caption="СПО Метроскоп" dataField="field4" dataType="string"></dxi-column>
        <dxi-column caption="АИС ОИА ПЭО" dataField="field5" dataType="string"></dxi-column>
    </dxi-column>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 8, 12]"  [infoText]="'Страница {0} из {1} (всего {2})'" [showInfo]="true"></dxo-pager>


    <div *dxTemplate="let d of 'linkTemplate'">
        <a class="link" routerLink="/plan">{{d.text}}</a>
    </div>

</dx-data-grid>

<router-outlet></router-outlet>