<h4>Трансформаторы СПО "Метроскоп". Подстанция ПС 220 кВ Абашево</h4>
<dx-data-grid #MscpTable id="mscpTable" [wordWrapEnabled]="true" [showBorders]="true" [dataSource]="mscpTrItems"
    (onSelectionChanged)="selectionChangedMscp($event)">
    <dxo-selection mode="single"></dxo-selection>
    <dxi-column caption="Трансформатор" alignment="center">
        <dxi-column dataField="name" caption="СПО Метроскоп"></dxi-column>
        <dxi-column dataField="isTrs" caption="АИС ОИА ПЭО">
            <div *ngIf="isBindedMetod()">
                {{pickedMscpTrItem?.aisTrs[0].name}}
            </div>
        </dxi-column>
    </dxi-column>
    <dxi-column dataField="isLinked" caption="Связь" alignment="center" cellTemplate="bindButtonTemplate">
    </dxi-column>
    <div *dxTemplate="let bb of 'bindButtonTemplate'">
        <div *ngIf="isBothSelected()">
            <button class="nrj-button button-secondary" (click)="bind()"><span>Связать</span></button>
        </div>
    </div>
</dx-data-grid>

<br><br>
<h4>Трансформаторы АИС ОИА ПЭО, не связанные с СПО «Метроскоп». Подстанция Абашево.</h4>
<dx-data-grid #aisGrid id="aisTable" [wordWrapEnabled]="true" [showBorders]="true" [dataSource]="aisTrInfoItems"
    [allowColumnResizing]="true" columnResizingMode="widget" [selectedRowKeys]="[]"
    (onSelectionChanged)="selectionChangedAis($event)">
    <dxo-selection mode="single"></dxo-selection>
    <dxi-column dataField="name" caption="Наименование"></dxi-column>
    <dxi-column dataField="type" caption="Тип"></dxi-column>
    <dxi-column caption="Связь" alignment="center"></dxi-column>
    <dxi-column dataField="group" caption="Группа"></dxi-column>
    <dxi-column dataField="usedOnVn" caption="Учет на ВН" cellTemplate="usedOnVnTemplate"></dxi-column>
    <dxi-column dataField="code" caption="Код" alignment="center"></dxi-column>
    <div *dxTemplate="let cell of 'usedOnVnTemplate'">
        <span *ngIf="cell.data.usedOnVn">Да</span>
        <span *ngIf="!cell.data.usedOnVn">Нет</span>
    </div>
</dx-data-grid>